<template id="todo-cache-template">
	<h1>Cache using SW</h1>
  <section id="todo-cache">
    <p>
      The tasks here are saved in cache using Service Workers instead of local
      storage
    </p>
    <p>
      The API calls are meddled to save the data in cache, Have a look through
      the code to find the secret!!
    </p>
  </section>
  <section id="instructions">
    <input type="text" id="todo-input" placeholder="Add a new task..." />
    <ul id="todo-list"></ul>
    <div id="placeholder">No Tasks Yet</div>
  </section>
</template>
